//colors
$color_celeste_approx: #ccc;
$color_apple_approx: #4caf50;
$white: white;
$concrete: #f2f2f2;

//@extend-elements
//original selectors
//input[type=text], select, textarea
%extend_1 {
	width: 100%;
	padding: 12px;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	resize: vertical;
}


input[type=text] {
	@extend %extend_1;
}
select {
	@extend %extend_1;
}
textarea {
	@extend %extend_1;
}
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
input[type=submit] {
	background-color: $color_apple_approx;
	color: $white;
	padding: 12px 20px;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
.container {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	background-color: $concrete;
	padding: 20px;
}
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}
@media screen and(max-width: 600px) {
	.col-25 {
		width: 100%;
		margin-top: 0;
	}
	.col-75 {
		width: 100%;
		margin-top: 0;
	}
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
